/* universal selector */
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* same design related */

.info-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}


/* header style part */
.header {
    background: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-container {
    width: 40%;
    text-align: right;
    margin: 216px 230px 116px 0;
}

.header-title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.header-description {
    color: #444343;
    text-align: right;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 28px;
    border: 0;
    box-shadow: 2px 2px 4px #00000096;
}

/* Main Container parts */
main {
    width: 70%;
    margin: 0 auto;
}

/* Year-info parts */
.year-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-top: 250px;
}

.img-pic {
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);
    width: 527.929px;
    height: 527.929px;
    margin-top: 100px;
}

.img-pic>img {
    position: relative;
    top: -198px;
    right: 23px;
}



.info-description {
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

span {
    color: #16D887;
}

.info-focus {
    list-style: none;
    color: #444343;
    font-size: 16px;
    line-height: 26px;
}

/* plans info related style */
.plans {
    margin-top: 200px;
}

#plan {
    text-align: center;
}

.plans-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.plan-item {
    text-align: center;
}

.plan-item>img {
    width: 92.958px;
    height: 92.958px;
}

.item-title {
    margin-top: 18px;
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.item-info {
    color: #737272;
    font-size: 22px;
    font-weight: 500;
    margin-top: 18px;
}

/* image related part */
.image-container {
    background: url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    height: 300px;
    margin: 130px 0;
}

.linear {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);

    border-radius: 8px;
    padding: 59px 64px;
}

.image-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.image-btn {
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 36px;
    border-radius: 5px;
    background: #FFF;
    margin-top: 24px;
    border: 0;
}